<a href="https://colab.research.google.com/github/25041032-Jocelyn/PROBABILIDAD-Y-ESTADISTICA/blob/main/Unidad1/Practica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y Estadistica
## Unidad 1
### Facilitador: José Gabriel Rodriguez Rivas
### Alumno: Jocelyn García Castañeda
### **Programa 3: Tablas de Frecuencia**

In [1]:
import random
edades = []
for i in range(100):
  numero_aleatorio = random.randint(18, 70)
  edades.append(numero_aleatorio)
  print(edades)

[63]
[63, 56]
[63, 56, 66]
[63, 56, 66, 61]
[63, 56, 66, 61, 44]
[63, 56, 66, 61, 44, 31]
[63, 56, 66, 61, 44, 31, 24]
[63, 56, 66, 61, 44, 31, 24, 25]
[63, 56, 66, 61, 44, 31, 24, 25, 61]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26, 21]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26, 21, 29]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26, 21, 29, 39]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26, 21, 29, 39, 59]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26, 21, 29, 39, 59, 51]
[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26, 21, 29, 39, 59, 51, 41]

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(edades, columns = ['Edad'])
df.head()

   Edad
0    63
1    56
2    66
3    61
4    44

In [4]:
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by = 'Edad')

print("Tabla de Distribución de Frecuencias")
tabla_frecuencias

Tabla de Distribución de Frecuencias

    Edad  Frecuencia
4     19           4
43    21           1
41    22           1
34    23           1
27    24           1
2     25           4
42    26           1
21    27           2
44    29           1
3     31           4
24    33           2
22    34           2
23    35           2
20    36           2
29    37           1
7     38           4
6     39           4
33    40           1
5     41           4
14    42           3
10    44           3
40    45           1
25    48           2
8     49           4
12    50           3
15    51           3
37    52           1
26    53           2
11    54           3
39    55           1
18    56           2
30    57           1
13    58           3
19    59           2
0     60           5
17    61           2
36    62           1
28    63           1
32    64           1
35    65           1
9     66           3
1     67           5
31    68           1
38    69           1
16    70           3

In [5]:
tabla_frecuencias['Frec Relativa'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
4     19           4           0.04
43    21           1           0.01
41    22           1           0.01
34    23           1           0.01
27    24           1           0.01
2     25           4           0.04
42    26           1           0.01
21    27           2           0.02
44    29           1           0.01
3     31           4           0.04
24    33           2           0.02
22    34           2           0.02
23    35           2           0.02
20    36           2           0.02
29    37           1           0.01
7     38           4           0.04
6     39           4           0.04
33    40           1           0.01
5     41           4           0.04
14    42           3           0.03
10    44           3           0.03
40    45           1           0.01
25    48           2           0.02
8     49           4           0.04
12    50           3           0.03
15    51           3           0.03
37    52           1           0.01
26    53           2           0.02
11    54           3           0.03
39    55           1           0.01
18    56           2           0.02
30    57           1           0.01
13    58           3           0.03
19    59           2           0.02
0     60           5           0.05
17    61           2           0.02
36    62           1           0.01
28    63           1           0.01
32    64           1           0.01
35    65           1           0.01
9     66           3           0.03
1     67           5           0.05
31    68           1           0.01
38    69           1           0.01
16    70           3           0.03

In [6]:
tabla_frecuencias['Frec Porcentual'] = tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
4     19           4           0.04              4.0
43    21           1           0.01              1.0
41    22           1           0.01              1.0
34    23           1           0.01              1.0
27    24           1           0.01              1.0
2     25           4           0.04              4.0
42    26           1           0.01              1.0
21    27           2           0.02              2.0
44    29           1           0.01              1.0
3     31           4           0.04              4.0
24    33           2           0.02              2.0
22    34           2           0.02              2.0
23    35           2           0.02              2.0
20    36           2           0.02              2.0
29    37           1           0.01              1.0
7     38           4           0.04              4.0
6     39           4           0.04              4.0
33    40           1           0.01              1.0
5     41           4           0.04              4.0
14    42           3           0.03              3.0
10    44           3           0.03              3.0
40    45           1           0.01              1.0
25    48           2           0.02              2.0
8     49           4           0.04              4.0
12    50           3           0.03              3.0
15    51           3           0.03              3.0
37    52           1           0.01              1.0
26    53           2           0.02              2.0
11    54           3           0.03              3.0
39    55           1           0.01              1.0
18    56           2           0.02              2.0
30    57           1           0.01              1.0
13    58           3           0.03              3.0
19    59           2           0.02              2.0
0     60           5           0.05              5.0
17    61           2           0.02              2.0
36    62           1           0.01              1.0
28    63           1           0.01              1.0
32    64           1           0.01              1.0
35    65           1           0.01              1.0
9     66           3           0.03              3.0
1     67           5           0.05              5.0
31    68           1           0.01              1.0
38    69           1           0.01              1.0
16    70           3           0.03              3.0

In [7]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
4     19           4           0.04              4.0               4
43    21           1           0.01              1.0               5
41    22           1           0.01              1.0               6
34    23           1           0.01              1.0               7
27    24           1           0.01              1.0               8
2     25           4           0.04              4.0              12
42    26           1           0.01              1.0              13
21    27           2           0.02              2.0              15
44    29           1           0.01              1.0              16
3     31           4           0.04              4.0              20
24    33           2           0.02              2.0              22
22    34           2           0.02              2.0              24
23    35           2           0.02              2.0              26
20    36           2           0.02              2.0              28
29    37           1           0.01              1.0              29
7     38           4           0.04              4.0              33
6     39           4           0.04              4.0              37
33    40           1           0.01              1.0              38
5     41           4           0.04              4.0              42
14    42           3           0.03              3.0              45
10    44           3           0.03              3.0              48
40    45           1           0.01              1.0              49
25    48           2           0.02              2.0              51
8     49           4           0.04              4.0              55
12    50           3           0.03              3.0              58
15    51           3           0.03              3.0              61
37    52           1           0.01              1.0              62
26    53           2           0.02              2.0              64
11    54           3           0.03              3.0              67
39    55           1           0.01              1.0              68
18    56           2           0.02              2.0              70
30    57           1           0.01              1.0              71
13    58           3           0.03              3.0              74
19    59           2           0.02              2.0              76
0     60           5           0.05              5.0              81
17    61           2           0.02              2.0              83
36    62           1           0.01              1.0              84
28    63           1           0.01              1.0              85
32    64           1           0.01              1.0              86
35    65           1           0.01              1.0              87
9     66           3           0.03              3.0              90
1     67           5           0.05              5.0              95
31    68           1           0.01              1.0              96
38    69           1           0.01              1.0              97
16    70           3           0.03              3.0             100

In [8]:
import math

In [9]:
print(edades)

[63, 56, 66, 61, 44, 31, 24, 25, 61, 19, 37, 31, 25, 57, 60, 49, 49, 38, 23, 40, 60, 49, 42, 70, 50, 62, 19, 60, 67, 64, 19, 38, 65, 67, 67, 36, 51, 68, 54, 58, 39, 54, 50, 44, 35, 50, 53, 41, 44, 54, 69, 25, 38, 35, 52, 60, 53, 66, 48, 51, 59, 39, 33, 34, 41, 19, 70, 25, 70, 42, 41, 49, 36, 45, 55, 31, 34, 58, 58, 22, 39, 60, 67, 48, 56, 33, 31, 66, 42, 67, 27, 38, 26, 21, 29, 39, 59, 51, 41, 27]

In [11]:
df = pd.DataFrame({'Edad' : edades})
df

    Edad
0     63
1     56
2     66
3     61
4     44
..   ...
95    39
96    59
97    51
98    41
99    27

[100 rows x 1 columns]

In [12]:
n = len(edades)
K = int(1 + math.log2(n))
print("Valor de n = ", n, "\nNúmeros de intervalos =", K)

Valor de n =  100
Números de intervalos = 7

In [15]:
tabla_frecuencia = pd.cut(df['Edad'], bins=K, include_lowest=True).value_counts().reset_index()
tabla_frecuencia.columns = ['Clase', 'Frec']
tabla_frecuencia

              Clase  Frec
0  (48.143, 55.429]    17
1  (55.429, 62.714]    16
2  (33.571, 40.857]    16
3    (62.714, 70.0]    16
4  (18.948, 26.286]    13
5  (40.857, 48.143]    13
6  (26.286, 33.571]     9

In [16]:
tabla_frecuencia = tabla_frecuencia.sort_values(by='Clase')
tabla_frecuencia

              Clase  Frec
4  (18.948, 26.286]    13
6  (26.286, 33.571]     9
2  (33.571, 40.857]    16
5  (40.857, 48.143]    13
0  (48.143, 55.429]    17
1  (55.429, 62.714]    16
3    (62.714, 70.0]    16

In [18]:
tabla_frecuencia['Frec Rel'] = tabla_frecuencia['Frec'] / n
tabla_frecuencia['Frec Porc'] = tabla_frecuencia ['Frec'] /n * 100
tabla_frecuencia['Frec Ac'] = tabla_frecuencia ['Frec'].cumsum()
tabla_frecuencia['Frec Rel Ac'] = tabla_frecuencia ['Frec Rel'].cumsum()
tabla_frecuencia['Frec Porc Ac'] = tabla_frecuencia ['Frec Porc'].cumsum()

print (tabla_frecuencia)

              Clase  Frec  Frec Rel  Frec Porc  Frec Ac  Frec Rel Ac  \
4  (18.948, 26.286]    13      0.13       13.0       13         0.13
6  (26.286, 33.571]     9      0.09        9.0       22         0.22
2  (33.571, 40.857]    16      0.16       16.0       38         0.38
5  (40.857, 48.143]    13      0.13       13.0       51         0.51
0  (48.143, 55.429]    17      0.17       17.0       68         0.68
1  (55.429, 62.714]    16      0.16       16.0       84         0.84
3    (62.714, 70.0]    16      0.16       16.0      100         1.00

   Frec Porc Ac
4          13.0
6          22.0
2          38.0
5          51.0
0          68.0
1          84.0
3         100.0

In [19]:
plt.hist(edades, alpha = 0.5)
plt.title("Histograma de edades basado en la función de matplotlib con valores estandar")

NameError: name 'plt' is not defined