<a href="https://colab.research.google.com/github/25041032-Jocelyn/PROBABILIDAD-Y-ESTADISTICA/blob/main/Unidad1/Practica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y Estadistica
## Unidad 1
### Facilitador: José Gabriel Rodriguez Rivas
### Alumno: Jocelyn García Castañeda
### **Programa 3: Tablas de Frecuencia**

In [6]:
import random
edades = []
for i in range(100):
  numero_aleatorio = random.randint(18, 70)
  edades.append(numero_aleatorio)
  print(edades)

[27]
[27, 70]
[27, 70, 41]
[27, 70, 41, 36]
[27, 70, 41, 36, 20]
[27, 70, 41, 36, 20, 53]
[27, 70, 41, 36, 20, 53, 20]
[27, 70, 41, 36, 20, 53, 20, 51]
[27, 70, 41, 36, 20, 53, 20, 51, 48]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25, 37]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25, 37, 55]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25, 37, 55, 60]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25, 37, 55, 60, 27]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25, 37, 55, 60, 27, 48]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25, 37, 55, 60, 27, 48, 48]
[27, 70, 41, 36, 20, 53, 20, 51, 48, 69, 31, 55, 29, 58, 58, 65, 25, 57, 39, 66, 48, 28, 37, 60, 39, 22, 49, 54, 66, 54, 46, 64, 44, 23, 68, 43, 64, 61, 58, 69, 42, 44, 66, 39, 32, 23, 56, 53, 37, 31, 49, 62, 25, 41, 31, 45, 27, 20, 18, 59, 19, 28, 18, 22, 65, 19, 27, 62, 47, 21, 51, 63, 37, 36, 67, 24, 62, 20, 19, 63, 53, 68, 22, 46, 64, 51, 54, 65, 32, 55, 24, 25, 37, 55, 60, 27, 48, 48, 25]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(edades, columns = ['Edad'])
df.head()

   Edad
0    27
1    70
2    41
3    36
4    20

In [9]:
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by = 'Edad')

print("Tabla de Distribución de Frecuencias")
tabla_frecuencias

Tabla de Distribución de Frecuencias

    Edad  Frecuencia
28    18           2
14    19           3
1     20           4
42    21           1
5     22           4
21    23           2
29    24           2
3     25           4
0     27           4
23    28           2
32    29           1
6     31           3
30    32           2
22    36           2
4     37           4
17    39           3
18    41           2
39    42           1
35    43           1
24    44           2
36    45           1
25    46           2
40    47           1
2     48           4
26    49           2
10    51           3
11    53           3
16    54           3
9     55           3
37    56           1
34    57           1
15    58           3
41    59           1
27    60           2
38    61           1
13    62           3
20    63           2
12    64           3
8     65           3
7     66           3
43    67           1
31    68           2
19    69           2
33    70           1

In [10]:
tabla_frecuencias['Frec Relativa'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
28    18           2           0.02
14    19           3           0.03
1     20           4           0.04
42    21           1           0.01
5     22           4           0.04
21    23           2           0.02
29    24           2           0.02
3     25           4           0.04
0     27           4           0.04
23    28           2           0.02
32    29           1           0.01
6     31           3           0.03
30    32           2           0.02
22    36           2           0.02
4     37           4           0.04
17    39           3           0.03
18    41           2           0.02
39    42           1           0.01
35    43           1           0.01
24    44           2           0.02
36    45           1           0.01
25    46           2           0.02
40    47           1           0.01
2     48           4           0.04
26    49           2           0.02
10    51           3           0.03
11    53           3           0.03
16    54           3           0.03
9     55           3           0.03
37    56           1           0.01
34    57           1           0.01
15    58           3           0.03
41    59           1           0.01
27    60           2           0.02
38    61           1           0.01
13    62           3           0.03
20    63           2           0.02
12    64           3           0.03
8     65           3           0.03
7     66           3           0.03
43    67           1           0.01
31    68           2           0.02
19    69           2           0.02
33    70           1           0.01

In [11]:
tabla_frecuencias['Frec Porcentual'] = tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
28    18           2           0.02              2.0
14    19           3           0.03              3.0
1     20           4           0.04              4.0
42    21           1           0.01              1.0
5     22           4           0.04              4.0
21    23           2           0.02              2.0
29    24           2           0.02              2.0
3     25           4           0.04              4.0
0     27           4           0.04              4.0
23    28           2           0.02              2.0
32    29           1           0.01              1.0
6     31           3           0.03              3.0
30    32           2           0.02              2.0
22    36           2           0.02              2.0
4     37           4           0.04              4.0
17    39           3           0.03              3.0
18    41           2           0.02              2.0
39    42           1           0.01              1.0
35    43           1           0.01              1.0
24    44           2           0.02              2.0
36    45           1           0.01              1.0
25    46           2           0.02              2.0
40    47           1           0.01              1.0
2     48           4           0.04              4.0
26    49           2           0.02              2.0
10    51           3           0.03              3.0
11    53           3           0.03              3.0
16    54           3           0.03              3.0
9     55           3           0.03              3.0
37    56           1           0.01              1.0
34    57           1           0.01              1.0
15    58           3           0.03              3.0
41    59           1           0.01              1.0
27    60           2           0.02              2.0
38    61           1           0.01              1.0
13    62           3           0.03              3.0
20    63           2           0.02              2.0
12    64           3           0.03              3.0
8     65           3           0.03              3.0
7     66           3           0.03              3.0
43    67           1           0.01              1.0
31    68           2           0.02              2.0
19    69           2           0.02              2.0
33    70           1           0.01              1.0

In [12]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
28    18           2           0.02              2.0               2
14    19           3           0.03              3.0               5
1     20           4           0.04              4.0               9
42    21           1           0.01              1.0              10
5     22           4           0.04              4.0              14
21    23           2           0.02              2.0              16
29    24           2           0.02              2.0              18
3     25           4           0.04              4.0              22
0     27           4           0.04              4.0              26
23    28           2           0.02              2.0              28
32    29           1           0.01              1.0              29
6     31           3           0.03              3.0              32
30    32           2           0.02              2.0              34
22    36           2           0.02              2.0              36
4     37           4           0.04              4.0              40
17    39           3           0.03              3.0              43
18    41           2           0.02              2.0              45
39    42           1           0.01              1.0              46
35    43           1           0.01              1.0              47
24    44           2           0.02              2.0              49
36    45           1           0.01              1.0              50
25    46           2           0.02              2.0              52
40    47           1           0.01              1.0              53
2     48           4           0.04              4.0              57
26    49           2           0.02              2.0              59
10    51           3           0.03              3.0              62
11    53           3           0.03              3.0              65
16    54           3           0.03              3.0              68
9     55           3           0.03              3.0              71
37    56           1           0.01              1.0              72
34    57           1           0.01              1.0              73
15    58           3           0.03              3.0              76
41    59           1           0.01              1.0              77
27    60           2           0.02              2.0              79
38    61           1           0.01              1.0              80
13    62           3           0.03              3.0              83
20    63           2           0.02              2.0              85
12    64           3           0.03              3.0              88
8     65           3           0.03              3.0              91
7     66           3           0.03              3.0              94
43    67           1           0.01              1.0              95
31    68           2           0.02              2.0              97
19    69           2           0.02              2.0              99
33    70           1           0.01              1.0             100